body {
    text-align: center;
    background-color: #F1ABB6;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 60px;
}

h2 {
    text-decoration: none;
    color: #C91F3B;
    font-family: 'Montserrat Subrayada', sans-serif;
    border-radius: 10px;
    font-size: 50px;
    text-shadow: 0px 1px #7786E3;
}

h3 {
    text-decoration: none;
    color: #C91F3B;
    font-family: 'Montserrat Subrayada', sans-serif;
    border-radius: 10px;
    font-size: 40px;
    text-shadow: 0px 1px #7786E3;
}

h4 {
    text-decoration: none;
    color: #C91F3B;
    font-family: 'Montserrat Subrayada', sans-serif;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 1px #7786E3;
}

img {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #C91F3B;
    font-family: 'Montserrat Subrayada', sans-serif;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 0px 1px #7786E3;
    margin: 5px;
}

a:hover {
    color: #7786E3;
    transition-duration: .5s;
    background-color: #F2F2F2;
    
}

.column {
    float: left;
    width: 33.33%;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#title {
    color:#F81E41;
    text-shadow: 0px 3px #7786E3;
    
}

#title:hover {
    transform: rotateX(180deg);
}
