.middle {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 60px;
    text-align: center;
    text-decoration: underline overline;
}

#title {
    background-color: #91FA6D;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 60px;
    text-align: center;
    text-decoration: underline overline;
}

#discord {
    color: #7289da    ;
}

#discord:hover {
    color: #5C44DF;
}

#special {
    text-decoration: none;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

h1 {
    font-size: 45px;
}

.par {
    text-decoration: underline;
}


img {
    width: 50%;
    height: 50%;
}

body {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    background-color: #DEFFFF;
    text-align: center;
    list-style-position: inside;
}